body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u12004 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u12005 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u12006 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u12007 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u12008 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u12009 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u12010 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u12011 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u12012 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u12013 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
