body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:754px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u5860 {
  position:absolute;
  left:0px;
  top:2143px;
  width:754px;
  height:1066px;
}
#u5861 {
  position:absolute;
  left:2px;
  top:525px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u5862 {
  position:absolute;
  left:0px;
  top:3214px;
  width:754px;
  height:1066px;
}
#u5863 {
  position:absolute;
  left:2px;
  top:525px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u5864 {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u5865 {
  position:absolute;
  left:2px;
  top:525px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u5866 {
  position:absolute;
  left:0px;
  top:1072px;
  width:754px;
  height:1066px;
}
#u5867 {
  position:absolute;
  left:2px;
  top:525px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
