body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1294px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3809 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1294px;
}
#u3810 {
  position:absolute;
  left:2px;
  top:640px;
  width:1436px;
  word-wrap:break-word;
}
#u3811 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:1171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u3812 {
  position:absolute;
  left:265px;
  top:73px;
  width:1136px;
  height:1171px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u3813 {
  position:absolute;
  left:16px;
  top:16px;
  width:1104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3814 {
  position:absolute;
  left:265px;
  top:73px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u3814_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3814_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3815 {
  position:absolute;
  left:265px;
  top:1212px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u3815_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3815_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3816 {
  position:absolute;
  left:1369px;
  top:1212px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u3816_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3816_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3817 {
  position:absolute;
  left:1369px;
  top:74px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u3817_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3817_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3818 {
  position:fixed;
  left:0px;
  top:0px;
}
#u3818_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3818_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3819 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1184px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3820 {
  position:absolute;
  left:256px;
  top:0px;
  width:1184px;
  height:64px;
}
#u3821 {
  position:absolute;
  left:2px;
  top:24px;
  width:1180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u3822 {
  position:absolute;
  left:284px;
  top:25px;
  width:20px;
  height:15px;
}
#u3823 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3824 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3825 {
  position:absolute;
  left:1317px;
  top:21px;
  width:24px;
  height:24px;
}
#u3826 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u3827 {
  position:absolute;
  left:1349px;
  top:22px;
  width:47px;
  height:22px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u3828 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u3829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u3829 {
  position:absolute;
  left:1277px;
  top:22px;
  width:16px;
  height:21px;
}
#u3830 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u3831 {
  position:absolute;
  left:1235px;
  top:23px;
  width:18px;
  height:19px;
}
#u3832 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
}
#u3833 {
  position:absolute;
  left:325px;
  top:22px;
  width:43px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u3834 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3835 {
  position:absolute;
  left:1287px;
  top:11px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u3836 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u3837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:176px;
}
#u3837 {
  position:absolute;
  left:616px;
  top:169px;
  width:1px;
  height:175px;
}
#u3838 {
  position:absolute;
  left:2px;
  top:80px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
}
#u3839 {
  position:absolute;
  left:328px;
  top:135px;
  width:85px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u3840 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3841 {
  position:absolute;
  left:328px;
  top:187px;
  width:973px;
  height:419px;
}
#u3842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u3842 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u3843 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u3844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u3844 {
  position:absolute;
  left:107px;
  top:0px;
  width:162px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u3845 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u3846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u3846 {
  position:absolute;
  left:269px;
  top:0px;
  width:138px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u3847 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u3848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u3848 {
  position:absolute;
  left:407px;
  top:0px;
  width:138px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u3849 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u3850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:38px;
}
#u3850 {
  position:absolute;
  left:545px;
  top:0px;
  width:145px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u3851 {
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u3852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:38px;
}
#u3852 {
  position:absolute;
  left:690px;
  top:0px;
  width:135px;
  height:38px;
  color:#1ABC9C;
}
#u3853 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u3854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:38px;
}
#u3854 {
  position:absolute;
  left:825px;
  top:0px;
  width:143px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u3855 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u3856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u3856 {
  position:absolute;
  left:0px;
  top:38px;
  width:107px;
  height:40px;
  color:#666666;
}
#u3857 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u3858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u3858 {
  position:absolute;
  left:107px;
  top:38px;
  width:162px;
  height:40px;
  color:#666666;
}
#u3859 {
  position:absolute;
  left:2px;
  top:11px;
  width:158px;
  word-wrap:break-word;
}
#u3860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
}
#u3860 {
  position:absolute;
  left:269px;
  top:38px;
  width:138px;
  height:40px;
  color:#666666;
}
#u3861 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u3862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
}
#u3862 {
  position:absolute;
  left:407px;
  top:38px;
  width:138px;
  height:40px;
  color:#666666;
}
#u3863 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u3864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u3864 {
  position:absolute;
  left:545px;
  top:38px;
  width:145px;
  height:40px;
  color:#666666;
}
#u3865 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u3866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u3866 {
  position:absolute;
  left:690px;
  top:38px;
  width:135px;
  height:40px;
  color:#666666;
}
#u3867 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u3868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u3868 {
  position:absolute;
  left:825px;
  top:38px;
  width:143px;
  height:40px;
  text-align:right;
}
#u3869 {
  position:absolute;
  left:2px;
  top:12px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:37px;
}
#u3870 {
  position:absolute;
  left:0px;
  top:78px;
  width:107px;
  height:37px;
  color:#666666;
}
#u3871 {
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u3872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:37px;
}
#u3872 {
  position:absolute;
  left:107px;
  top:78px;
  width:162px;
  height:37px;
  color:#666666;
}
#u3873 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u3874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:37px;
}
#u3874 {
  position:absolute;
  left:269px;
  top:78px;
  width:138px;
  height:37px;
  color:#666666;
}
#u3875 {
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u3876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:37px;
}
#u3876 {
  position:absolute;
  left:407px;
  top:78px;
  width:138px;
  height:37px;
  color:#666666;
}
#u3877 {
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u3878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u3878 {
  position:absolute;
  left:545px;
  top:78px;
  width:145px;
  height:37px;
  color:#666666;
}
#u3879 {
  position:absolute;
  left:2px;
  top:11px;
  width:141px;
  word-wrap:break-word;
}
#u3880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:37px;
}
#u3880 {
  position:absolute;
  left:690px;
  top:78px;
  width:135px;
  height:37px;
  color:#666666;
}
#u3881 {
  position:absolute;
  left:2px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u3882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:37px;
}
#u3882 {
  position:absolute;
  left:825px;
  top:78px;
  width:143px;
  height:37px;
  text-align:right;
}
#u3883 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:34px;
}
#u3884 {
  position:absolute;
  left:0px;
  top:115px;
  width:107px;
  height:34px;
  color:#666666;
}
#u3885 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u3886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:34px;
}
#u3886 {
  position:absolute;
  left:107px;
  top:115px;
  width:162px;
  height:34px;
  color:#666666;
}
#u3887 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u3888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:34px;
}
#u3888 {
  position:absolute;
  left:269px;
  top:115px;
  width:138px;
  height:34px;
  color:#666666;
}
#u3889 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u3890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:34px;
}
#u3890 {
  position:absolute;
  left:407px;
  top:115px;
  width:138px;
  height:34px;
  color:#666666;
}
#u3891 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u3892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:34px;
}
#u3892 {
  position:absolute;
  left:545px;
  top:115px;
  width:145px;
  height:34px;
  color:#666666;
}
#u3893 {
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u3894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u3894 {
  position:absolute;
  left:690px;
  top:115px;
  width:135px;
  height:34px;
  color:#666666;
}
#u3895 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u3896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:34px;
}
#u3896 {
  position:absolute;
  left:825px;
  top:115px;
  width:143px;
  height:34px;
  text-align:right;
}
#u3897 {
  position:absolute;
  left:2px;
  top:9px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:37px;
}
#u3898 {
  position:absolute;
  left:0px;
  top:149px;
  width:107px;
  height:37px;
  color:#666666;
}
#u3899 {
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u3900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:37px;
}
#u3900 {
  position:absolute;
  left:107px;
  top:149px;
  width:162px;
  height:37px;
  color:#666666;
}
#u3901 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u3902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:37px;
}
#u3902 {
  position:absolute;
  left:269px;
  top:149px;
  width:138px;
  height:37px;
  color:#666666;
}
#u3903 {
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u3904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:37px;
}
#u3904 {
  position:absolute;
  left:407px;
  top:149px;
  width:138px;
  height:37px;
  color:#666666;
}
#u3905 {
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u3906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u3906 {
  position:absolute;
  left:545px;
  top:149px;
  width:145px;
  height:37px;
  color:#666666;
}
#u3907 {
  position:absolute;
  left:2px;
  top:11px;
  width:141px;
  word-wrap:break-word;
}
#u3908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:37px;
}
#u3908 {
  position:absolute;
  left:690px;
  top:149px;
  width:135px;
  height:37px;
  color:#666666;
}
#u3909 {
  position:absolute;
  left:2px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u3910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:37px;
}
#u3910 {
  position:absolute;
  left:825px;
  top:149px;
  width:143px;
  height:37px;
  text-align:right;
}
#u3911 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u3912 {
  position:absolute;
  left:0px;
  top:186px;
  width:107px;
  height:38px;
  color:#666666;
}
#u3913 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u3914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u3914 {
  position:absolute;
  left:107px;
  top:186px;
  width:162px;
  height:38px;
  color:#666666;
}
#u3915 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u3916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u3916 {
  position:absolute;
  left:269px;
  top:186px;
  width:138px;
  height:38px;
  color:#666666;
}
#u3917 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u3918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u3918 {
  position:absolute;
  left:407px;
  top:186px;
  width:138px;
  height:38px;
  color:#666666;
}
#u3919 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u3920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:38px;
}
#u3920 {
  position:absolute;
  left:545px;
  top:186px;
  width:145px;
  height:38px;
  color:#666666;
}
#u3921 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u3922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:38px;
}
#u3922 {
  position:absolute;
  left:690px;
  top:186px;
  width:135px;
  height:38px;
  color:#666666;
}
#u3923 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u3924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:38px;
}
#u3924 {
  position:absolute;
  left:825px;
  top:186px;
  width:143px;
  height:38px;
  text-align:right;
}
#u3925 {
  position:absolute;
  left:2px;
  top:11px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u3926 {
  position:absolute;
  left:0px;
  top:224px;
  width:107px;
  height:38px;
  color:#666666;
}
#u3927 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u3928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u3928 {
  position:absolute;
  left:107px;
  top:224px;
  width:162px;
  height:38px;
  color:#666666;
}
#u3929 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u3930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u3930 {
  position:absolute;
  left:269px;
  top:224px;
  width:138px;
  height:38px;
  color:#666666;
}
#u3931 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u3932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u3932 {
  position:absolute;
  left:407px;
  top:224px;
  width:138px;
  height:38px;
  color:#666666;
}
#u3933 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u3934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:38px;
}
#u3934 {
  position:absolute;
  left:545px;
  top:224px;
  width:145px;
  height:38px;
  color:#666666;
}
#u3935 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u3936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:38px;
}
#u3936 {
  position:absolute;
  left:690px;
  top:224px;
  width:135px;
  height:38px;
  color:#666666;
}
#u3937 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u3938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:38px;
}
#u3938 {
  position:absolute;
  left:825px;
  top:224px;
  width:143px;
  height:38px;
  text-align:right;
}
#u3939 {
  position:absolute;
  left:2px;
  top:11px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u3940 {
  position:absolute;
  left:0px;
  top:262px;
  width:107px;
  height:38px;
  color:#666666;
}
#u3941 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u3942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u3942 {
  position:absolute;
  left:107px;
  top:262px;
  width:162px;
  height:38px;
  color:#666666;
}
#u3943 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u3944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u3944 {
  position:absolute;
  left:269px;
  top:262px;
  width:138px;
  height:38px;
  color:#666666;
}
#u3945 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u3946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u3946 {
  position:absolute;
  left:407px;
  top:262px;
  width:138px;
  height:38px;
  color:#666666;
}
#u3947 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u3948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:38px;
}
#u3948 {
  position:absolute;
  left:545px;
  top:262px;
  width:145px;
  height:38px;
  color:#666666;
}
#u3949 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u3950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:38px;
}
#u3950 {
  position:absolute;
  left:690px;
  top:262px;
  width:135px;
  height:38px;
  color:#666666;
}
#u3951 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u3952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:38px;
}
#u3952 {
  position:absolute;
  left:825px;
  top:262px;
  width:143px;
  height:38px;
  text-align:right;
}
#u3953 {
  position:absolute;
  left:2px;
  top:11px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u3954 {
  position:absolute;
  left:0px;
  top:300px;
  width:107px;
  height:38px;
  color:#666666;
}
#u3955 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u3956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u3956 {
  position:absolute;
  left:107px;
  top:300px;
  width:162px;
  height:38px;
  color:#666666;
}
#u3957 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u3958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u3958 {
  position:absolute;
  left:269px;
  top:300px;
  width:138px;
  height:38px;
  color:#666666;
}
#u3959 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u3960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u3960 {
  position:absolute;
  left:407px;
  top:300px;
  width:138px;
  height:38px;
  color:#666666;
}
#u3961 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u3962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:38px;
}
#u3962 {
  position:absolute;
  left:545px;
  top:300px;
  width:145px;
  height:38px;
  color:#666666;
}
#u3963 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u3964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:38px;
}
#u3964 {
  position:absolute;
  left:690px;
  top:300px;
  width:135px;
  height:38px;
  color:#666666;
}
#u3965 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u3966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:38px;
}
#u3966 {
  position:absolute;
  left:825px;
  top:300px;
  width:143px;
  height:38px;
  text-align:right;
}
#u3967 {
  position:absolute;
  left:2px;
  top:11px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u3968 {
  position:absolute;
  left:0px;
  top:338px;
  width:107px;
  height:38px;
  color:#666666;
}
#u3969 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u3970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u3970 {
  position:absolute;
  left:107px;
  top:338px;
  width:162px;
  height:38px;
  color:#666666;
}
#u3971 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u3972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u3972 {
  position:absolute;
  left:269px;
  top:338px;
  width:138px;
  height:38px;
  color:#666666;
}
#u3973 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u3974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u3974 {
  position:absolute;
  left:407px;
  top:338px;
  width:138px;
  height:38px;
  color:#666666;
}
#u3975 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u3976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:38px;
}
#u3976 {
  position:absolute;
  left:545px;
  top:338px;
  width:145px;
  height:38px;
  color:#666666;
}
#u3977 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u3978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:38px;
}
#u3978 {
  position:absolute;
  left:690px;
  top:338px;
  width:135px;
  height:38px;
  color:#666666;
}
#u3979 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u3980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:38px;
}
#u3980 {
  position:absolute;
  left:825px;
  top:338px;
  width:143px;
  height:38px;
  text-align:right;
}
#u3981 {
  position:absolute;
  left:2px;
  top:11px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u3982 {
  position:absolute;
  left:0px;
  top:376px;
  width:107px;
  height:38px;
  color:#666666;
}
#u3983 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u3984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u3984 {
  position:absolute;
  left:107px;
  top:376px;
  width:162px;
  height:38px;
  color:#666666;
}
#u3985 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u3986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u3986 {
  position:absolute;
  left:269px;
  top:376px;
  width:138px;
  height:38px;
  color:#666666;
}
#u3987 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u3988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u3988 {
  position:absolute;
  left:407px;
  top:376px;
  width:138px;
  height:38px;
  color:#666666;
}
#u3989 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u3990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:38px;
}
#u3990 {
  position:absolute;
  left:545px;
  top:376px;
  width:145px;
  height:38px;
  color:#666666;
}
#u3991 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u3992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:38px;
}
#u3992 {
  position:absolute;
  left:690px;
  top:376px;
  width:135px;
  height:38px;
  color:#666666;
}
#u3993 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u3994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:38px;
}
#u3994 {
  position:absolute;
  left:825px;
  top:376px;
  width:143px;
  height:38px;
  text-align:right;
}
#u3995 {
  position:absolute;
  left:2px;
  top:11px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3996 {
  position:absolute;
  left:1207px;
  top:233px;
  width:31px;
  height:22px;
}
#u3997 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u3998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3998 {
  position:absolute;
  left:1207px;
  top:309px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3999 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4000 {
  position:absolute;
  left:1207px;
  top:273px;
  width:31px;
  height:22px;
}
#u4001 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4002 {
  position:absolute;
  left:1207px;
  top:346px;
  width:31px;
  height:22px;
}
#u4003 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4004 {
  position:absolute;
  left:1207px;
  top:423px;
  width:31px;
  height:22px;
}
#u4005 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4006 {
  position:absolute;
  left:1207px;
  top:386px;
  width:31px;
  height:22px;
}
#u4007 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4008 {
  position:absolute;
  left:1207px;
  top:462px;
  width:31px;
  height:22px;
}
#u4009 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4010 {
  position:absolute;
  left:1207px;
  top:539px;
  width:31px;
  height:22px;
}
#u4011 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4012 {
  position:absolute;
  left:1207px;
  top:502px;
  width:31px;
  height:22px;
}
#u4013 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4014 {
  position:absolute;
  left:1207px;
  top:571px;
  width:31px;
  height:22px;
}
#u4015 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4017 {
  position:fixed;
  left:0px;
  top:0px;
}
#u4017_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4017_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:955px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 0px 4px rgba(0, 0, 0, 0.0784313725490196);
  -webkit-box-shadow:2px 0px 4px rgba(0, 0, 0, 0.0784313725490196);
  box-shadow:2px 0px 4px rgba(0, 0, 0, 0.0784313725490196);
}
#u4018 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:955px;
}
#u4019 {
  position:absolute;
  left:2px;
  top:470px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4021 {
  position:absolute;
  left:0px;
  top:222px;
  width:256px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4022 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u4023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4023 {
  position:absolute;
  left:24px;
  top:242px;
  width:14px;
  height:14px;
}
#u4024 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4026 {
  position:absolute;
  left:25px;
  top:296px;
  width:14px;
  height:14px;
}
#u4027 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
}
#u4030 {
  position:absolute;
  left:0px;
  top:276px;
  width:256px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4030_img.mouseOver {
  left:-2px;
  top:-2px;
  width:261px;
  height:59px;
}
#u4030.mouseOver {
}
#u4030_img.mouseDown {
}
#u4030.mouseDown {
}
#u4030_img.selected {
  left:-2px;
  top:-2px;
  width:261px;
  height:59px;
}
#u4030.selected {
}
#u4031 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u4032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4034 {
  position:absolute;
  left:0px;
  top:68px;
  width:256px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4034_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4034.mouseOver {
}
#u4034_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4034.mouseDown {
}
#u4034_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4034.selected {
}
#u4035 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u4036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u4036 {
  position:absolute;
  left:24px;
  top:88px;
  width:15px;
  height:13px;
}
#u4037 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4040 {
  position:absolute;
  left:0px;
  top:122px;
  width:256px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4041 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u4042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4042 {
  position:absolute;
  left:25px;
  top:141px;
  width:14px;
  height:14px;
  color:#C9C9C9;
}
#u4043 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4048 {
  position:absolute;
  left:24px;
  top:176px;
  width:232px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4049 {
  position:absolute;
  left:50px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u4050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4050 {
  position:absolute;
  left:49px;
  top:192px;
  width:14px;
  height:14px;
}
#u4051 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4053 {
  position:absolute;
  left:49px;
  top:391px;
  width:14px;
  height:14px;
}
#u4054 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4057 {
  position:absolute;
  left:24px;
  top:376px;
  width:232px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4058 {
  position:absolute;
  left:50px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u4059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4063 {
  position:absolute;
  left:24px;
  top:330px;
  width:232px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4064 {
  position:absolute;
  left:50px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u4065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4065 {
  position:absolute;
  left:49px;
  top:346px;
  width:14px;
  height:14px;
}
#u4066 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4068 {
  position:absolute;
  left:49px;
  top:437px;
  width:14px;
  height:14px;
}
#u4069 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4072 {
  position:absolute;
  left:24px;
  top:422px;
  width:232px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4073 {
  position:absolute;
  left:50px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u4074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:66px;
}
#u4074 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:65px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#1ABC9C;
  text-align:left;
  line-height:26px;
}
#u4075 {
  position:absolute;
  left:68px;
  top:20px;
  width:188px;
  word-wrap:break-word;
}
#u4076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4076 {
  position:absolute;
  left:24px;
  top:16px;
  width:32px;
  height:32px;
}
#u4077 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4078 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:left;
  line-height:22px;
}
#u4082 {
  position:absolute;
  left:0px;
  top:68px;
  width:256px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:left;
  line-height:22px;
}
#u4082_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:left;
  line-height:22px;
}
#u4082.mouseOver {
}
#u4082_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:left;
  line-height:22px;
}
#u4082.mouseDown {
}
#u4082_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.176470588235294);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:left;
  line-height:22px;
}
#u4082.selected {
}
#u4083 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u4084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u4084 {
  position:absolute;
  left:24px;
  top:88px;
  width:15px;
  height:13px;
  color:#1ABC9C;
}
#u4085 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
