body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u5798 {
  position:absolute;
  left:25px;
  top:0px;
  width:775px;
  height:1095px;
}
#u5799 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u5800 {
  position:absolute;
  left:25px;
  top:1095px;
  width:775px;
  height:1095px;
}
#u5801 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u5802 {
  position:absolute;
  left:25px;
  top:2195px;
  width:775px;
  height:1095px;
}
#u5803 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u5804 {
  position:absolute;
  left:25px;
  top:3295px;
  width:775px;
  height:1095px;
}
#u5805 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u5806 {
  position:absolute;
  left:25px;
  top:4395px;
  width:775px;
  height:1095px;
}
#u5807 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u5808 {
  position:absolute;
  left:25px;
  top:5495px;
  width:775px;
  height:1095px;
}
#u5809 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u5810 {
  position:absolute;
  left:0px;
  top:6590px;
  width:775px;
  height:1095px;
}
#u5811 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u5812 {
  position:absolute;
  left:25px;
  top:7689px;
  width:775px;
  height:1095px;
}
#u5813 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u5814 {
  position:absolute;
  left:25px;
  top:8790px;
  width:775px;
  height:1095px;
}
#u5815 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
